<% Map.all.each do |map| %>
  <div class="m-b-3">
    <h5 class="m-b-2"><%= map.title %></h5>
    <div class="b-svg-map m-y-2 text-xs-center" data-map-id='<%= map.id %>'>
      <% memoized_doc = map.memoized_doc %>
      <% map.areas.each do |area| %>
        <% area.contracts.today_in_range.each do |contract| %>
          <% found = memoized_doc.css("##{contract.area.ref} *").first %>
            <% case success_or_danger(contract.renter) %>
            <% when 'success' %>
              <% found['style'] = 'fill: #008000' %>
            <% when 'danger' %>
              <% found['style'] = 'fill: #FF0000' %>
            <% end %>
        <% end %>
      <% end %>
      <%== memoized_doc.to_s %>
    </div>
  </div>
<% end %>
