<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<% total_forecast = 0 %>
<% total_account = 0 %>

<% if false %>
  <ul>
    <% Renter.all.each do |renter| %>
      <% total_account += renter.account %>
      <% total_forecast += renter.forecast %>
      <% if renter.forecast < 0 %>
        <li><%= link_to renter.to_label, renter %></li>
      <% end %>
    <% end %>
  </ul>

  <table class="table">
    <tr>
      <td>Итого на счетах:</td>
      <td><%= currency total_account %></td>
    </tr>
    <tr>
      <td>Итого долг:</td>
      <td><%= currency total_forecast %></td>
    </tr>
  </table>
<% end %>
