<% last_payment = renter.transactions.where('amount > 0').last %>

<% if last_payment %>
  <p class="m-b-0">
    <%= link_to currency(last_payment.amount), transactions_path(anchor: 'ransack-table', q: {id_eq: last_payment.id}) %>
  </p>
  <p class="m-b-0">
    <%= link_to 'Все платежи арендатора', transactions_path(anchor: 'ransack-table', q: {renter_id_eq: renter.id, amount_gteq: 0}) %>
  </p>
<% end %>

<% last_withdraw = renter.transactions.where('amount < 0').last %>

<% if last_withdraw %>
  <p class="m-b-0">
    <%= link_to 'Все списания арендатора', transactions_path(anchor: 'ransack-table', q: {renter_id_eq: renter.id, amount_lteq: 0}) %>
  </p>
<% end %>
