<%= currency contract.rate_month %> <small>(<%= currency contract.rate %>)</small><br />
<div class="text-sm" style="white-space: nowrap"><%= clever_date contract.date_start %> - <%= clever_date contract.date_end %></div>
