$fa-font-path: '/Font-Awesome/fonts';
@import 'Font-Awesome/scss/font-awesome';

@import "bootstrap/scss/bootstrap";

.on {
  fill: yellow !important;
}

#menu {
  border: 1px solid rgba(0,0,0,.2);
  background: white;
  padding: .5rem;
  @extend .list-unstyled;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.b-svg-map {
  position: relative;
}

.alert:empty {
  display: none;
}

.hidden {
  display: none;
}

.table thead th, .table td {
  vertical-align: middle;
}

.page-header {
  @extend .m-b-2;
}

.e-control-links {
  white-space: nowrap;
}

.b-error {
  @extend .m-b-0;
}

.b-help {
  @extend .m-b-0;
}
