$fa-font-path: '/Font-Awesome/fonts';
@import 'Font-Awesome/scss/font-awesome';

@import "bootstrap/scss/bootstrap";

.on {
  fill: yellow !important;
}

.menu {
  border: 1px solid rgba(0,0,0,.2);
  background: white;
  padding: .5rem;
  @extend .list-unstyled;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.b-svg-map {
  position: relative;
  background: snow;
}

.alert:empty {
  display: none;
}

.hidden {
  display: none;
}

.table thead th, .table td {
  vertical-align: middle;
}

.page-header {
  @extend .m-b-3;
}

.e-control-links {
  white-space: nowrap;
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-outline-secondary;
  width: 30px;
}

.b-error {
  @extend .m-b-0;
}

.b-help {
  @extend .m-b-0;
}

.text-sm {
  font-size: .85rem;
}

.text-xs {
  font-size: .7rem
}

.e-map {
  @extend .card;
  padding: .5rem;
  max-width: 250px;
}
